// theme overwrites

// variables
$gradientNav: linear-gradient(to right, #ef271b, #f5821d);
$gradientBG: linear-gradient(to right, #404040, #707070);
$borderRad: 15px;

html {
    height: 100%;
}

.navbar {
    background-image: $gradientNav;
    margin-bottom: auto;

    .nav-link {
        color: white;

        &:visited {
            color: white;
        }
    }
}

body {
    background-image: $gradientBG;
    height: 100%;

    #root {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.home-body {
    height: 100%;
    width: 100%;
    position: absolute;

    background-image: url("images/cvdbg.png"),
        linear-gradient(to right, #404040, #707070);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

#navbarNav {
    transition: all 1.5s ease;
}

.homeInfo {
    //margin-top: 25%;
    color: white;
}

.home {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 25%;
}

.parent {
    height: 90%;
    .Row {
        height: 100%;
        .Col {
            height: 100%;
        }
    }
}

.leftContent {
    background-color: #b3b3b3;
    height: 90vh;
    margin-bottom: 2vh;
    border-radius: $borderRad;
}

.rightContent {
    background-color: #b3b3b3;
    height: 44vh;
    width: 100%;
    margin-bottom: 2vh;
    border-radius: $borderRad;
}

.sectionHeader {
    background-image: $gradientNav;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;

    border-radius: 15px 15px 0px 0px;
    p {
        margin-top: 15px;
        margin-left: 10px;
        color: white;
    }
}

.barSectionHeader {
    background-image: $gradientNav;
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;

    border-radius: 15px 15px 0px 0px;
    p {
        margin-top: 15px;
        margin-left: 10px;
        color: white;
    }
}

.mapParent {
    background-color: #b3b3b3;
    height: 85%;
    width: 100%;
    border-radius: 0px 0px 15px 15px;
}

.loading {
    margin-top: auto;
    margin-bottom: auto;
}

.data-btn {
    background-color: #404040;
    color: white;
    border-style: none;
    border-radius: 5px;
    padding: 4px;
    font-size: 10px;
    margin-left: 5px;
    &:hover {
        background-color: #505050;
    }
}

// import bootstrap scss at the bottom
@import "~bootstrap/scss/bootstrap.scss";
